*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    display: grid;
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
  
  .grid {
    background-color: olivedrab;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 3;
    height: 380px;
    grid-row: 1 / span 2;
    background-color: brown;
    
  }
  
  .item5 {
    grid-column: 1 / span 2;
    grid-row: 3;
    height: 200px;
  }

